<div class="container mt-5">
  <h2>User Profile</h2>
  <p (click)="openEditDialog()"> Click here to edit your profile data.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="user">
        <td>{{ userData.login }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.imie }}</td>
        <td>{{ user.nazwisko }}</td>
        <td>{{ userData.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>
