<h2 mat-dialog-title>Edit Company Profile</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Company Name</mat-label>
    <input matInput [(ngModel)]="data.company.companyname" name="companyname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>NIP</mat-label>
    <input matInput [(ngModel)]="data.company.nip" name="nip">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>