<mat-dialog-content>
  <form #editForm="ngForm">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stanowisko</mat-label>
      <input matInput [(ngModel)]="data.title" name="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lokalizacja</mat-label>
      <input matInput [(ngModel)]="data.location" name="location" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Typ kontraktu</mat-label>
      <input matInput [(ngModel)]="data.contractType" name="contractType" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wynagrodzenie</mat-label>
      <input matInput [(ngModel)]="data.salary" name="salary" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Opis</mat-label>
      <textarea matInput [(ngModel)]="data.description" name="description" rows="4"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>