<div class="container">
    <div class="row">
        <div *ngFor="let offer of jobOffers" class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="row g-0 align-items-center">
                    <div class="col-md-2 d-flex justify-content-center">
                        <img src="assets/logo192.png" class="img-fluid rounded-start" alt="Company Logo" style="max-width: 80px; object-fit: contain;" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">
                                <small class="text-muted">{{ offer.company }}</small> |
                                <small class="text-muted">{{ offer.contractType }}</small> |
                                <small class="text-muted">{{ offer.experience }}</small>
                            </p>
                            <h5 class="card-title">{{ offer.title }}</h5>
                            <div class="d-flex flex-wrap mb-2">
                                <span class="badge bg-secondary me-2">{{ offer.location }}</span>
                                <span class="badge bg-secondary me-2">{{ offer.salary }}</span>
                                <span class="badge bg-secondary">{{ offer.timeAgo }}</span>
                            </div>
                            <p class="card-text">{{ offer.technologies }}</p>
                            <!-- <p class="card-text" [innerHTML]="offer.description" [ngClass]="{'truncated-text': isTextTruncated(offer)}"></p>                             -->
                            <div class="d-flex mt-3">
                                <button class="btn btn-primary me-2" (click)="openJobDetailDialog(offer)">Edit</button>
                                <button class="btn btn-secondary">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
