<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/main']">
        <img src="assets/logo192.png" alt="logo" width="30" height="30" class="d-inline-block align-top" />
        Job Offers
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Zacznij szukać</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/offers">Oferty pracy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salaries">Zarobki</a>
          </li>
        </ul>
        <div class="d-flex">
          <ng-container *ngIf="!authTokenService.isLoggedIn()">
            <a [routerLink]="['/login']" class="btn btn-outline-primary me-2" role="button">Zaloguj się</a>
            <a [routerLink]="['/register']" class="btn btn-primary" role="button">Rejestracja</a>
          </ng-container>
          <ng-container *ngIf="authTokenService.isLoggedIn()">
            <p-splitButton
              label="Save"
              icon="pi pi-check"
              (onClick)="save('info')"
              [model]="items"
              styleClass="mr-2">
            </p-splitButton>
            <button class="btn btn-success" (click)="logout()">Wyloguj się</button>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-5 pt-5">
    <div class="px-3">
      <div class="text-start">
        <h1><b>Poszukaj <a href="#" class="text-primary text-decoration-none">pracy</a> już teraz</b></h1>
        <p>Tysiące oferty pracy w branżach komputerowych i technologicznych czekają na Ciebie.</p>
      </div>
    </div>
    <app-job-search></app-job-search>
    <div class="mt-5 job-listings">
      <app-job-list></app-job-list>
    </div>

  </div>
</div>
