<div class="container mt-5">
  <h2>Company Profile</h2>
  <button class="btn btn-primary me-2" (click)="openEditDialog()">Change</button>
  <button class="btn btn-secondary" (click)="openJobDialog()">Add new offer</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">NIP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="company">
        <td>{{ company.companyName }}</td>
        <td>{{ company.nip }}</td>
      </tr>
    </tbody>
  </table>
</div>