<div class="container mt-5">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col" [class.sorted]="sortColumn === 'name'"
          [class.sorted-asc]="sortColumn === 'name' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'name' && sortDirection === 'desc'" (click)="sort('name')">Name
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'email'"
          [class.sorted-asc]="sortColumn === 'email' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'email' && sortDirection === 'desc'" (click)="sort('email')">Email
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'fileName'"
          [class.sorted-asc]="sortColumn === 'fileName' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'fileName' && sortDirection === 'desc'" (click)="sort('fileName')">CV
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'position'"
          [class.sorted-asc]="sortColumn === 'position' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'position' && sortDirection === 'desc'" (click)="sort('position')">
          Stanowisko
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'location'"
          [class.sorted-asc]="sortColumn === 'location' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'location' && sortDirection === 'desc'" (click)="sort('location')">
          Lokalizacja
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'applicationDate'"
          [class.sorted-asc]="sortColumn === 'applicationDate' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'applicationDate' && sortDirection === 'desc'" (click)="sort('applicationDate')">Kiedy
        </th>
        <th scope="col" [class.sorted]="sortColumn === 'status'"
          [class.sorted-asc]="sortColumn === 'status' && sortDirection === 'asc'"
          [class.sorted-desc]="sortColumn === 'status' && sortDirection === 'desc'" (click)="sort('status')">Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of sortedApplications">
        <td>{{ application.name }}</td>
        <td>{{ application.email }}</td>
        <td>
          <a *ngIf="application.fileName" (click)="viewCv(application.id)" style="cursor: pointer;">
            {{ application.fileName }}
          </a>
          <span *ngIf="!application.fileName">Brak CV</span>
        </td>
        <td>{{ application.position }}</td>
        <td>{{ application.location }}</td>
        <td>{{ application.applicationDate }}</td>
        <td (click)="openStatusDialog(application)" style="cursor: pointer;">
          {{ application.status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
