<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <h3>Change password</h3>
      <form>
        <div class="form-group mb-3">
          <input type="password" id="oldPassword" class="form-control" placeholder="Enter old password">
        </div>
        <div class="form-group mb-3">
          <input type="password" id="newPassword" class="form-control" placeholder="Enter new password">
        </div>
        <div class="form-group mb-3">
          <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm new password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </div>
</div>
