<h2 mat-dialog-title>Add new offer</h2>

<mat-dialog-content>
  <form #addForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Firma</mat-label>
      <input matInput [(ngModel)]="data.company.companyName" name="company" required readonly>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tytuł</mat-label>
      <input matInput [(ngModel)]="data.title" name="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lokalizacja</mat-label>
      <input matInput [(ngModel)]="data.location" name="location" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Typ kontraktu</mat-label>
      <input matInput [(ngModel)]="data.contractType" name="contractType" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wynagrodzenie</mat-label>
      <input matInput [(ngModel)]="data.salary" name="salary" required>
    </mat-form-field>

    <p-multiSelect 
    [options]="experienceOptions"
    [(ngModel)]="data.offerExperience" 
    name="offerExperience" 
    optionLabel="label" 
    optionValue="value"
    placeholder="Select Experience"
    [showToggleAll]="false" 
    class="full-width"
    required="true">
    </p-multiSelect>

    <p-multiSelect 
    [options]="technologyOptions"
    [(ngModel)]="data.offerTechnology" 
    name="offerTechnology" 
    optionLabel="label" 
    optionValue="value"
    placeholder="Select technology"
    [showToggleAll]="false" 
    class="full-width"
    required="true">
    </p-multiSelect>

    <p-multiSelect 
    [options]="positionOptions"
    [(ngModel)]="data.offerPosition" 
    name="offerPosition" 
    optionLabel="label" 
    optionValue="value"
    placeholder="Select position"
    [showToggleAll]="false" 
    class="full-width"
    required="true">
    </p-multiSelect>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Data wygaśnięcia</mat-label>
      <input matInput [(ngModel)]="data.expirationDate" name="expirationDate" required type="date">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Opis</mat-label>
      <textarea matInput [(ngModel)]="data.description" name="description" rows="4"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!addForm.valid">Zapisz</button>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
