<header-component></header-component>

<div class="container-fluid mt-5 pt-5">

  <mat-tab-group>
    <mat-tab label="Job Offers">

      <companyprofile-component></companyprofile-component>
      <app-job-search-dashboard></app-job-search-dashboard>
      <div class="mt-5 job-listings">
        <app-job-list-dashboard></app-job-list-dashboard>
      </div>

    </mat-tab>
    <mat-tab label="Applications">

      <applications-dashboard-component></applications-dashboard-component>

    </mat-tab>

  </mat-tab-group>

</div>

<footer-component></footer-component>