<div class="px-3">
    <div class="text-start">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="row g-3">
        <div class="col-md-3">
          <input formControlName="title" type="text" class="form-control" placeholder="Tytuł" />
        </div>
        <div class="col-md-2">
          <input formControlName="description" type="text" class="form-control" placeholder="Słowa kluczowe" />
        </div>
        <div class="col-md-2">
          <input formControlName="location" type="text" class="form-control" placeholder="Lokalizacja" />
        </div>
        <div class="col-md-2">
          <input type="number" formControlName="salary" class="form-control" placeholder="Min. Pensja" />
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-danger w-100">Szukaj</button>
        </div>
      </form>

      <button type="button" class="btn btn-light mt-3" (click)="openCategoryDialog()">Stanowiska</button>

      <button type="button" class="btn btn-light mt-3 ms-2" (click)="openTechnologyDialog()">Technologie</button>

      <button type="button" class="btn btn-light mt-3 ms-2" (click)="openExperienceDialog()">Doświadczenie</button>

      <button type="button"  class="btn btn-light mt-3 ms-1 pi pi-times" (click)="resetFilters()"></button>

    </div>
  </div>
