<h2 mat-dialog-title>Edit User Profile</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="data.user.username" name="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.user.email" name="email" disabled>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="data.user.phoneNumber" name="phoneNumber"
             pattern="[0-9]*" inputmode="numeric" maxlength="15">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
