<h2 mat-dialog-title>Edit User Profile</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="data.user.login" name="username" required #username="ngModel">
      <div *ngIf="username.invalid && username.touched" class="text-danger">
       Pole jest wymagane.
      </div>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.user.email" name="email">
    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.user.name" name="imie" required #imie="ngModel">
      <div *ngIf="imie.invalid && imie.touched" class="text-danger">
       Pole jest wymagane.
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput [(ngModel)]="data.user.surname" name="nazwisko" required #nazwisko="ngModel">
      <div *ngIf="nazwisko.invalid && nazwisko.touched" class="text-danger">
       Pole jest wymagane.
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="data.user.phoneNumber" name="phoneNumber" pattern="[0-9]*" inputmode="numeric"  (keypress)="validateNumberInput($event,9)" #phoneNumber="ngModel">
      <div *ngIf="phoneNumber.value && phoneNumber.value.length > 0 && phoneNumber.value.length !== 9 && phoneNumber.touched" class="text-danger">
        Jeśli podajesz numer telefonu, musi zawierać dokładnie 9 cyfr.
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="username.invalid || imie.invalid || nazwisko.invalid || phoneNumber.value?.length !== 9" (click)="onSave()">Save</button>
</mat-dialog-actions>
